html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;    
}

div.inputForm {
    display: block;
    margin-left: auto;
    margin-right: auto;    
    width: 20em;
    line-height: 250%; 
}

#usrInput-form label.error {
    display: block;    
    color:#ff0000;
    font-weight:bold;
}